<%= javascript_include_tag 'random_albums' %>
<input id="hidden-user-id-input" data-user-id="<%= @user_id %>" hidden>
<div class="parent-of-centralized-div">
  <div class="centralized-div">
    <h4 class="main-header">
      Go ahead, do it
    </h4>
    <a href="" class="prettier-link" id="get-random-albums-link">
      Give me random albums
    </a>
  </div>

  <div id="randomized-albums-container">
  </div>
</div>
