<%= javascript_include_tag 'random_albums' %>
<div class="parent-of-centralized-div">
  <div id="link-spotify" class="centralized-div">
    <h4 id="link-spotify-main-header" class="main-header">
      Go ahead, do it
    </h4>
    <a href="" class="prettier-link" id="get-random-albums-link">
      Give me random albums
    </a>
  </div>
</div>
