<div id="link-spotify">
  <h2 id="link-spotify-main-header">
    We will need to link your spotify account to get started, please click below
  </h2>

  <a href="<%=SpotifyUser.generate_spotify_authorize_url%>">
    Link Spotify
  </a>
</div>
