/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root{
  --primary-color: #a0d6b4;
  --secondary-color: #2F4F4F;
  --tertiary-color: #C5E0BE;
}

body {
  background-color: var(--primary-color);
  font-family: 'FreeMono', monospace;
}

.parent-of-centralized-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
}

.centralized-div {
  border: 5px solid var(--secondary-color);
  background-color: var(--tertiary-color);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.main-header {
  text-align: center;
  margin-top: 0;
}

.prettier-link {
  color: inherit;
  text-decoration: none;
  border: 3px solid var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 6px;
  display: inline-block;
  margin-bottom: 2%;
}

.prettier-link:hover, .prettier-link:focus, .prettier-link:active, .prettier-link:visited {
  color: inherit;
  text-decoration: none;
}

.prettier-link:hover {
  background-color: var(--secondary-color);
}

.prettier-link-disabled {
  color: inherit;
  text-decoration: none;
  border: 3px solid #515854;
  background-color: #515854;
  border-radius: 10px;
  padding: 6px;
  display: inline-block;
  margin-bottom: 2%;
}

.album-div {
  border: 5px solid var(--secondary-color);
  background-color: var(--tertiary-color);
  border-radius: 10px;
  margin-top: 5px;

  display: grid;
  grid-template-columns: 25% 75%; /* Left column 25%, right column 75% */
  width: 90%; /* Adjust width to your preference */
  max-width: 1000px; /* Maximum width of the container */
}

.album-div .image-container img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.album-div .album-info-container{
  overflow-wrap: break-word; /* Breaks words if necessary */
  word-break: break-word; /* Ensures breaks within words where appropriate */
  white-space: normal; /* Ensures normal wrapping behavior */
  padding: 5px;
  position: relative;
}

.album-div .album-info-container p{
  font-size: 15px;
}

.album-div p{
  margin: 0;
}

.spotify-link{
  position: absolute;
  bottom: 0;
  right: 3px;
}

.spotify-logo-image{
  width: 30px;
  height: 30px;
}

#randomized-albums-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.spinner-container {
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}

#spinner {
  display: none;
  border: 10px solid var(--primary-color);
  border-top: 10px solid var(--secondary-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: auto;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 675px){
  .centralized-div {
    width: 80%;
  }
}
