<div class="parent-of-centralized-div">
  <div id="landing-page-div" class="centralized-div">
    <h2 id="landing-page-main-header" class="main-header">
      What do you wanna do?
    </h2>
    <div id="landing-page-links-div">
      <a href="/spotify" id="spotify-randomizer-link" class="prettier-link">
        Get 5 random spotify albums
      </a>
      <p id="letterboxd-randomizer-link" class="prettier-link-disabled">
        Get 5 random letterboxd movies! (coming soon)
      </p>
    </div>
  </div>
</div>
