<div id="landing-page-div">
  <h2 id="landing-page-main-header">
    What do you wanna do?
  </h2>
  <div id="landing-page-links-div">
    <a href="/whatever_spotify_link" id="spotify-randomizer-link">
      Get 5 random spotify albums1
    </a>
    <p id="letterboxd-randomizer-link">
      Get 5 random letterboxd movies! (coming soon)
    </p>
  </div>
</div>
